$font-primary: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-footer: "Roboto", sans-serif;
$text-color: #252b42;
$primary-color: #fa4a0c;
$white-color: #fff;
$gray-color: #737373;
$gray-light-color: #bdbdbd;
$dark-color: #252b42;
